In [1]:
#주어진 데이터셋에서 SUB와 OBJ에 따른 조합 결과를 확인하기 위한 코드

#관련된 라이브러리 임포트하기
import pandas as pd
from ast import literal_eval
import matplotlib.pyplot as plt

#훈련 데이터셋을 분석하고자 하니 훈련 데이터셋을 불러오기
train_path = "../../../dataset/train/train.csv"
train_data = pd.read_csv(train_path) #추후 절대경로로 변경하거나 폴더 안으로 데이터셋을 옮겨놓을 예정

In [2]:
#사용할 함수 구성

#입력 받은 x를 str에서 dic으로 변환해주는 함수
def str2dic(x):
    if type(x) == str:
        return literal_eval(x)
    return x

#판다스 컬럼 검색을 하는데 있어서 필요한 조건문 반환
def make_condition(column, value):
    return train_data[column] == value

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32470 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32470 non-null  int64
 1   sentence        32470 non-null  object
 2   subject_entity  32470 non-null  object
 3   object_entity   32470 non-null  object
 4   label           32470 non-null  object
 5   source          32470 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB

In [4]:
#문자열로 저장되어 있는 것을 딕셔너리로 변환하는 코드
train_data["subject_entity"] = train_data["subject_entity"].apply(lambda x : str2dic(x))
train_data["object_entity"] = train_data["object_entity"].apply(lambda x : str2dic(x))

In [5]:
train_data.iloc[0]

id                                                                0
sentence          〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...
subject_entity    {'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...
object_entity     {'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...
label                                                   no_relation
source                                                    wikipedia
Name: 0, dtype: object

In [6]:
#딕셔너리로 변환된 결과 확인
train_data.iloc[0]["subject_entity"]

{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}

In [7]:
#딕셔너리로 변환된 결과 확인
train_data.iloc[0]["object_entity"]

{'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'}

In [8]:
#딕셔너리로 변환된 결과 확인
train_data.iloc[0]["label"]

'no_relation'

In [12]:
#type에 대한 정보를 다른 column으로 저장
train_data["subject_type"] = train_data["subject_entity"].apply(lambda x : x["type"])
train_data["object_type"] = train_data["object_entity"].apply(lambda x : x["type"])

#type 처리 결과를 확인
train_data

,id,sentence,subject_entity,object_entity,label,source,subject_type,object_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia,ORG,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree,ORG,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree,ORG,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree,ORG,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia,ORG,DAT
...,...,...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree,PER,LOC
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia,PER,PER
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree,ORG,PER
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia,ORG,ORG
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree,ORG,PER

In [11]:
#sub에 들어올 수 있는 type 종류 확인
train_data['subject_type'].value_counts()

PER    16786
ORG    15684
Name: subject_type, dtype: int64

In [28]:
#id, sentence, subject_entity, object_entity 제거하기
train_data = train_data.drop('source', axis=1)

#그래프를 쉽게 그리기 위한 train_data 컬럼 순서 변경
train_data = train_data[["subject_type", "object_type", "label"]]
train_data

      subject_type object_type                      label
0              ORG         PER                no_relation
1              ORG         ORG                no_relation
2              ORG         ORG              org:member_of
3              ORG         PER  org:top_members/employees
4              ORG         DAT                no_relation
...            ...         ...                        ...
32465          PER         LOC            per:employee_of
32466          PER         PER             per:colleagues
32467          ORG         PER  org:top_members/employees
32468          ORG         ORG                no_relation
32469          ORG         PER  org:top_members/employees

[32470 rows x 3 columns]

In [30]:
#데이터를 git에 올리면 안되므로 주석 처리
train_data.to_csv("../data/train_data_type.csv", index=False)

In [12]:
#obj에 들어올 수 있는 type 종류 확인
train_data['object_type'].value_counts()

PER    9788
ORG    9346
POH    5113
DAT    4249
LOC    3561
NOH     413
Name: object_type, dtype: int64

In [13]:
#label에 들어올 수 있는 종류 확인
train_data['label'].value_counts()

no_relation                            9534
org:top_members/employees              4284
per:employee_of                        3573
per:title                              2103
org:member_of                          1866
org:alternate_names                    1320
per:origin                             1234
org:place_of_headquarters              1195
per:date_of_birth                      1130
per:alternate_names                    1001
per:spouse                              795
per:colleagues                          534
per:parents                             520
org:founded                             450
org:members                             420
per:date_of_death                       418
org:product                             380
per:children                            304
per:place_of_residence                  193
per:other_family                        190
per:place_of_birth                      166
org:founded_by                          155
per:product                             139
per:siblings                            136
org:political/religious_affiliation      98
per:religion                             96
per:schools_attended                     82
org:dissolved                            66
org:number_of_employees/members          48
per:place_of_death                       40
Name: label, dtype: int64

In [14]:
#필터링을 위한 조건문 정리
isPER = make_condition("subject_type", "PER")
isORG = make_condition("subject_type", "ORG")

In [15]:
#sub이 PER일때 올 수 있는 object_type의 종류
train_data[isPER]["object_type"].value_counts()

PER    5009
ORG    4246
POH    3454
DAT    2139
LOC    1785
NOH     153
Name: object_type, dtype: int64

In [16]:
#sub이 ORG일때 올 수 있는 object_type의 종류
train_data[isORG]["object_type"].value_counts()

ORG    5100
PER    4779
DAT    2110
LOC    1776
POH    1659
NOH     260
Name: object_type, dtype: int64

In [17]:
#sub이 PER일때 올 수 있는 경우의 수에 따른 label 출력
temp_data = train_data[isPER]

for i in temp_data["object_type"].unique():
    isTemp = temp_data['object_type'] == i
    print(f"PER + {i}")
    print(temp_data[isTemp]["label"].value_counts())

PER + DAT
per:date_of_birth         1128
no_relation                505
per:date_of_death          410
per:origin                  60
per:employee_of             19
per:parents                  5
per:place_of_residence       4
per:title                    3
per:colleagues               1
per:children                 1
per:spouse                   1
per:place_of_death           1
per:place_of_birth           1
Name: label, dtype: int64
PER + ORG
per:employee_of           2857
no_relation                741
per:origin                 267
per:title                  141
per:religion                80
per:schools_attended        80
per:alternate_names         40
per:place_of_residence      11
per:product                 11
per:colleagues              10
per:place_of_birth           3
per:date_of_death            1
per:other_family             1
per:children                 1
per:spouse                   1
per:place_of_death           1
Name: label, dtype: int64
PER + LOC
per:origin                   821
no_relation                  310
per:place_of_residence       172
per:employee_of              165
per:place_of_birth           161
per:title                     81
per:place_of_death            35
per:alternate_names            9
per:parents                    7
per:spouse                     6
per:other_family               4
per:children                   3
per:religion                   2
per:date_of_death              2
per:schools_attended           2
per:product                    2
org:founded_by                 1
org:place_of_headquarters      1
per:colleagues                 1
Name: label, dtype: int64
PER + POH
per:title                 1845
no_relation               1055
per:employee_of            135
per:product                120
per:alternate_names         70
per:parents                 64
per:origin                  55
per:spouse                  26
per:siblings                23
per:children                22
per:religion                14
per:colleagues              10
per:other_family             7
per:place_of_residence       6
per:place_of_death           2
Name: label, dtype: int64
PER + PER
no_relation                  1399
per:alternate_names           881
per:spouse                    761
per:colleagues                512
per:parents                   443
per:employee_of               391
per:children                  275
per:other_family              178
per:siblings                  113
per:origin                     29
per:title                      14
per:product                     6
per:date_of_death               3
org:top_members/employees       1
org:members                     1
per:place_of_death              1
per:place_of_birth              1
Name: label, dtype: int64
PER + NOH
no_relation            118
per:title               19
per:employee_of          6
per:children             2
per:date_of_death        2
per:origin               2
per:date_of_birth        2
per:alternate_names      1
per:parents              1
Name: label, dtype: int64

In [18]:
#sub이 ORG일때 올 수 있는 경우의 수에 따른 label 출력
temp_data = train_data[isORG]

for i in temp_data["object_type"].unique():
    isTemp = temp_data['object_type'] == i
    print(f"ORG + {i}")
    print(temp_data[isTemp]["label"].value_counts())

ORG + PER
org:top_members/employees              4195
no_relation                             401
org:founded_by                          144
org:alternate_names                      31
org:product                               3
org:members                               2
org:member_of                             1
org:political/religious_affiliation       1
org:place_of_headquarters                 1
Name: label, dtype: int64
ORG + ORG
no_relation                            1958
org:member_of                          1320
org:alternate_names                    1154
org:members                             285
org:place_of_headquarters               254
org:political/religious_affiliation      54
org:product                              48
org:top_members/employees                22
org:founded_by                            5
Name: label, dtype: int64
ORG + DAT
no_relation                            1582
org:founded                             450
org:dissolved                            66
org:member_of                             5
org:place_of_headquarters                 4
org:political/religious_affiliation       1
org:alternate_names                       1
org:members                               1
Name: label, dtype: int64
ORG + LOC
org:place_of_headquarters              894
no_relation                            548
org:member_of                          173
org:members                             97
org:product                             24
org:alternate_names                     23
org:top_members/employees               13
org:political/religious_affiliation      4
Name: label, dtype: int64
ORG + POH
no_relation                            725
org:member_of                          358
org:product                            304
org:alternate_names                    106
org:top_members/employees               52
org:place_of_headquarters               39
org:political/religious_affiliation     38
org:members                             32
org:founded_by                           5
Name: label, dtype: int64
ORG + NOH
no_relation                        192
org:number_of_employees/members     48
org:member_of                        9
org:alternate_names                  5
org:place_of_headquarters            2
org:members                          2
org:top_members/employees            1
org:product                          1
Name: label, dtype: int64

In [19]:
#PER인데 label이 ORG로 나오는 경우를 확인
train_data[isPER & make_condition("label", "org:place_of_headquarters")]

,id,sentence,subject_entity,object_entity,label,source,subject_type,object_type
28891,28891,이렇게 싹튼 우크라이나 민족주의는 19세기 초 키예프를 중심으로 제정 러시아의 지배...,"{'word': '키예프', 'start_idx': 26, 'end_idx': 28...","{'word': '우크라이나', 'start_idx': 90, 'end_idx': ...",org:place_of_headquarters,wikipedia,PER,LOC

In [32]:
#for branch push test

In [52]:
train_data[isORG & make_condition("object_type", "NOH") & make_condition("label", "org:top_members/employees")]

,id,sentence,subject_entity,object_entity,label,source,subject_type,object_type
11002,11002,한국해양대학교 제8대 도덕희 총장 취임식이 12월 2일 오후 2시 대학 대강당에서 ...,"{'word': '한국해양대학교', 'start_idx': 0, 'end_idx':...","{'word': '도덕희', 'start_idx': 12, 'end_idx': 14...",org:top_members/employees,wikitree,ORG,NOH